*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #571733;
    padding: 30px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card h2{
    margin-bottom: 10px;
}

.card p{
    margin-bottom: 15px;
    color: #555;
}

.card button{
    background: #cb0f90;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover{
    background: #c51665;
}