 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#721140;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:350px;
}

.login-box{
    background:#fffcfe;
    border:1px solid #dbdbdb;
    padding:40px;
    text-align:center;
}

.login-box h1{
    font-size:40px;
    margin-bottom:30px;
    font-family:cursive;
}

.login-box input{
    width:100%;
    padding:10px;
    margin-bottom:8px;
    border:1px solid #dbdbdb;
    border-radius:3px;
    background:#fafafa;
}

.login-box button{
    width:100%;
    padding:10px;
    background:#0095f6;
    color:white;
    border:none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}

.divider{
    margin:20px 0;
    color:#8e8e8e;
    font-size:14px;
}

.facebook-login{
    display:block;
    text-decoration:none;
    color:#385185;
    font-weight:bold;
    margin-bottom:20px;
}

.forgot-password{
    text-decoration:none;
    color:#00376b;
    font-size:12px;
}

.signup-box{
    margin-top:10px;
    background:#fff;
    border:1px solid #dbdbdb;
    padding:20px;
    text-align:center;
}

.signup-box a{
    text-decoration:none;
    color:#0095f6;
    font-weight:bold;
}